extends ../layout

block extraHeaders
    link(rel="stylesheet", href="/css/admin/addUser.css")
    script(src="/js/admin/index.js")

block content
    div#main.ui.three.column.grid
        div.column
        div#centerCol.column
            h4.ui.dividing.header Liste des zones
            button.ui.button(onClick="location.href = '/admin/zone'") Ajouter une zone
            //TODO: faire un espace pour que ça soit joli
            div#listZone
                each zone in listZone
                        h4.ui.dividing.header= zone.name
                        each line in zone
                            p= line
