extends ../layout

block extraHeaders
    link(rel="stylesheet", href="/css/admin/style.css")
    script(src="/js/admin/js.js")
    block extraHeadersAdmin

block content
    div#main.ui.three.column.grid
        div.column
        div#centerCol.column
            div#headerNav
                a(href="/admin/").ui.button Acceuil
                a(href="/admin/line/add").ui.button Ajouter une ligne
                a(href="/admin/user/add").ui.button Ajouter un utilisateur
                a(href="/admin/zone").ui.button Gestion des zones
            block contentAdmin
        div.column