extends layout

block extraHeadersAdmin
    link(rel="stylesheet", href="/css/admin/manageUsers.css")
    script(src="/js/admin/manageUsers.js")


block contentAdmin
    div
        h4.ui.dividing.header Gestion des remorques
        if trailers.length == 0
            div Pas de remorques en attente
        else
            table.ui.celled.table
                thead
                    tr
                        th Date
                        th Line
                        th Nombre de vélos
                        th Action
                each trailer in trailers
                    tbody
                        tr
                            td= trailer.startHour
                            td= trailer.idLine
                            td= trailer.nbBike
                            td
                                a.ui.button Allouer une remorque
                                a.ui.button.red Ne pas allouer de remorque

