extends ../layout

block extraHeaders
    link(rel="stylesheet", href="/css/client/style.css")
    script(src="/js/client/js.js")
    block extraHeadersClient

block content
    div.ui.two.column.centered.grid
        div#centerCol.column
            block contentClient