doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/libs/semantic.min.js")
    link(rel="stylesheet", href="/libs/semantic.min.css")
    block extraHeaders
  body
    block content
