.list .item{
    padding: 10px 0;
}
.infoDepart{
    padding:.78571429em 1.5em .78571429em
}
.infoTrip{
    margin-bottom: 1%;
    margin-left:1%;
}
#infoTripType{
    text-transform: capitalize;
}
#tripsList{
    margin-top: 5%;
}
#hiddenForm{
    display: none;
}
.idLine{
    display: none;
}
.nbPlaceRestant{
    display: none;
}